{% extends "web/base.html" %}
{% load web_extras %}
{% block main_data %}data-live-refresh="1"{% endblock %}
{% block main %}
  <header class="page-head">
    <div class="page-head-l">
      <h1 class="page-title">Inbox</h1>
      {% include "web/partials/_inbox_head_count.html" %}
    </div>
    <div class="page-head-r">
      <button class="button button-small" type="button"
              x-on:click="cap = true">
        {% icon "plus" %}<span>Capture</span></button>
    </div>
  </header>
  <section class="group group--inbox">
    {% include "web/partials/_inbox_list.html" %}
  </section>
{% endblock %}
