{% extends "web/base.html" %}
{% load web_extras %}
{% block main %}
  <header class="page-head">
    <div class="page-head-l">
      <h1 class="page-title">Inbox</h1>
      <span class="page-count">{{ slices|length }}</span>
    </div>
    <button class="button button-small" type="button"
            x-on:click="cap = true; $nextTick(() => $refs.captureInput && $refs.captureInput.focus())">
      {% icon "plus" %}<span>Capture</span></button>
  </header>
  <section class="group">
    {% include "web/partials/_triage_list.html" %}
  </section>
{% endblock %}
