{% load web_extras %}
<div class="area-item" data-area-id="{{ a.id }}" x-data="{editing: false}">
  <a class="nav area-link{% if active or request.resolver_match.url_name == 'area' and request.resolver_match.kwargs.slug == a.slug %} nav--active{% endif %}"
     href="{% wurl 'web:area' a.slug %}"
     x-show="!editing"
     x-on:dblclick.prevent="editing = true; $nextTick(() => { $refs.renameInput.focus(); $refs.renameInput.select() })">
    {% icon "area" %}<span class="nav-label">{{ a.name }}</span>
  </a>
  <div class="area-actions" x-show="!editing">
    <button type="button" class="area-act" title="Rename"
            x-on:click="editing = true; $nextTick(() => { $refs.renameInput.focus(); $refs.renameInput.select() })">✎</button>
    <button type="button" class="area-act area-act--danger" title="Delete"
            hx-post="{% wurl 'web:area_delete' a.id %}"
            hx-target="closest .area-item" hx-swap="outerHTML"
            hx-confirm="This area and all items in it will be deleted. Continue?">✕</button>
  </div>
  <form class="area-rename" x-show="editing" x-cloak
        hx-post="{% wurl 'web:area_rename' a.id %}"
        hx-target="closest .area-item" hx-swap="outerHTML"
        hx-on::after-request="if(event.detail.successful) editing = false">
    <input name="name" value="{{ a.name }}" x-ref="renameInput" class="area-rename-input"
           maxlength="200" autocomplete="off"
           x-on:keydown.escape="editing = false; $refs.renameInput.value = $refs.renameInput.defaultValue">
  </form>
</div>
