<div class="scopenav">
  <a class="scope {% if active == 'account' %}on{% endif %}" href="{% url 'web:settings_account' %}">Account</a>
  <a class="scope {% if active == 'org' %}on{% endif %}" href="{% url 'web:org_home' org.slug %}">Organization</a>
  {% if workspace %}
  <a class="scope {% if active == 'workspace' %}on{% endif %}" href="{% url 'web:settings_ws_general' org.slug workspace.slug %}">Workspace</a>
  {% elif workspaces %}
  <a class="scope {% if active == 'workspace' %}on{% endif %}" href="{% url 'web:settings_ws_general' org.slug workspaces.0.slug %}">Workspace</a>
  {% endif %}
</div>
